
{% extends 'asosiy/base.html' %}
{% load static %}
{% block content %}
	<!--start-logo-->
	<div class="logo">
		<a href="index.html"><h1>Luxury Watches</h1></a>
	</div>
	<!--start-logo-->

	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li class="active">Account</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--account-starts-->
	<div class="account">
		<div class="container">
		<div class="account-top heading">
				<h2>ACCOUNT</h2>
			</div>
			<form method="post">
				{% csrf_token %}
				<div class="account-main">
					<div class="col-md-6 account-left">    
						<h3>Existing User</h3>
						<div class="account-bottom">
							<input placeholder="{{user.username}}" type="text" name="username">
							<input placeholder="***" type="password" name="password">
							<input placeholder="Retype password" type="password" name="password_confirmation">
							<div class="address">
							
								<input type="submit" value="Edit">
							</div>
						</div>
					</div>
				</div>
			</form>
			
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--account-end-->

{% endblock %}