{% extends 'asosiy/base.html' %}
{% load static %}
{% block content %}
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li class="active">Single</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--start-single-->
	<div class="single contact">
		<div class="container">
			<div class="single-main">
				<div class="col-md-9 single-main-left">
				<div class="sngl-top">
					<div class="col-md-5 single-top-left">	
						<div class="flexslider">
							  <ul class="slides">
								<li data-thumb="{% static 'asosiy/images/s-1.jpg' %}">
									<div class="thumb-image"> <img src="{% static 'asosiy/images/s-1.jpg' %}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
								</li>
								<li data-thumb="{% static 'asosiy/images/s-2.jpg' %}">
									 <div class="thumb-image"> <img src="{% static 'asosiy/images/s-2.jpg' %}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
								</li>
								<li data-thumb="{% static 'asosiy/images/s-3.jpg' %}">
								   <div class="thumb-image"> <img src="{% static 'asosiy/images/s-3.jpg' %}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
								</li> 
							  </ul>
						</div>
						<!-- FlexSlider -->
						<script src="{% static 'asosiy/js/imagezoom.js' %}"></script>
						<script defer src="{% static 'asosiy/js/jquery.flexslider.js' %}"></script>
						<link rel="stylesheet" href="{% static 'asosiy/css/flexslider.css' %}" type="text/css" media="screen" />

						<script>
						// Can also be used with $(document).ready()
						$(window).load(function() {
						  $('.flexslider').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						  });
						});
						</script>
					</div>
				</div>
				<div class="col-md-7 single-top-right">
					<div class="single-para simpleCart_shelfItem">
					<h2>{{product.name}}</h2>
						<div class="star-on">
							<ul class="star-footer">
									<li><a href="#"><i> </i></a></li>
									<li><a href="#"><i> </i></a></li>
									<li><a href="#"><i> </i></a></li>
									<li><a href="#"><i> </i></a></li>
									<li><a href="#"><i> </i></a></li>
								</ul>
							<div class="review">
								<a href="#"> 1 customer review </a>
								
							</div>
						<div class="clearfix"> </div>
						</div>
						
						<h5 class="item_price">{{product.price}}</h5>
						<p>{{product.description}}</p>
						
						
							<a href="{% url 'add_to_cart' product.id%}" class="add-cart item_add">ADD TO CART</a>
						
						</div>
					</div>	
					
					<div class="clearfix"> </div>
				</div>
				<div class="tabs">
					
				</div>
				
{% for i in products %}
	<!--product-starts-->
				<div class="product" > 
					<div class="container"  >
						<div class="product-top" >
							<div class="product-one" >
								<div class="col-md-3 product-left" >
									<div class="product-main simpleCart_shelfItem"  >
										<a href="{% url 'detail' i.id%}" class="mask">
											<img class="img-responsive zoom-img" src="{{i.baner_image.url }}" alt="" />
										</a>
										<div class="product-bottom">
											<h3>{{ i.name }}</h3>
											<p>{{ i.description }}</p>
											{% if i.currency == 1 %}
												<h4>
													<a class="item_add" href="#"><i></i></a>
													<span class="item_price">{{ i.price }} Dollar</span>
												</h4>
											{% else %}
												<h4>
													<a class="item_add" href="#"><i></i></a>
													<span class="item_price">{{ i.price }} So'm</span>
												</h4>
											{% endif %}
											<!-- Add more product details or buttons here -->
										</div>
									</div>
									
								</div>
							</div>				
						</div>
					</div>
				</div>
	<!--product-end-->
	{% endfor %}
				
						
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
				

		{% endblock %}