{% extends 'asosiy/base.html' %}
{% load static %}
{% block content %}
	<!--start-breadcrumbs-->
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs-main">
				<ol class="breadcrumb">
					<li><a href="index.html">Home</a></li>
					<li class="active">Single</li>
				</ol>
			</div>
		</div>
	</div>
	<!--end-breadcrumbs-->
	<!--start-single-->
	<div class="single contact">
		<div class="container">
			<div class="single-main">
				<div class="col-md-9 single-main-left">
				<div class="sngl-top">
					<div class="col-md-5 single-top-left">	
						<div class="flexslider">
							<ul class="slides">
								{% for image in images %}
									<li data-thumb="{{ image.image.url }}">
										<div class="thumb-image"> <img src="{{ image.image.url }}" data-imagezoom="true" class="img-responsive" alt=""/> </div>
									</li>
								{% endfor %}
							</ul>
							
							
						</div>
						<!-- FlexSlider -->
						<script src="{% static 'asosiy/js/imagezoom.js' %}"></script>
						<script defer src="{% static 'asosiy/js/jquery.flexslider.js' %}"></script>
						<link rel="stylesheet" href="{% static 'asosiy/css/flexslider.css' %}" type="text/css" media="screen" />

						<script>
						// Can also be used with $(document).ready()
						$(window).load(function() {
						  $('.flexslider').flexslider({
							animation: "slide",
							controlNav: "thumbnails"
						  });
						});
						</script>
					</div>
				</div>
				<div class="col-md-7 single-top-right">
					<div class="single-para simpleCart_shelfItem">
					<h2>{{product.name}}</h2>
						<div class="star-on">
							<ul class="star-footer">
								{% for i in range %}
									<li><a href="#"><i> </i></a></li>
									{% endfor %}
								</ul>
							<div class="review">
								<a href="#"> 1 customer review </a>
								
							</div>
						<div class="clearfix"> </div>
						</div>
						
						<h5 class="item_price">{{product.price}}</h5>
						<p>{{product.description}}</p>
						
						
							<a href="{% url 'add_to_cart' product.id%}" class="add-cart item_add">ADD TO CART</a>
						
						</div>
					</div>	
					
					<div class="clearfix"> </div>
				</div>
				<div class="tabs">
					
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
				

	<!--product-starts-->
				<div class="container">
    <div class="row">
        {% for i in products %}
		{% if product.id != i.id%}
            <div class="col-md-3">
                <div class="product">
                    <a href="{% url 'detail' i.id %}" class="mask">
                        <img class="img-responsive zoom-img" src="{{ i.baner_image.url }}" alt="{{ i.name }}" />
                    </a>
                    <div class="product-info" s>
                        <h3>{{ i.name }}</h3>
                        <p>{{ i.description }}</p>
                        {% if i.currency == 1 %}
                            <h4>
                                <a class="item_add" href="{% url 'add_to_cart' i.id %}"><i></i></a>
                                <span class="item_price">{{ i.price }} Dollar</span>
                            </h4>
                        {% else %}
                            <h4>
                                <a class="item_add" href="{% url 'carts' %}"><i></i></a>
                                <span class="item_price">{{ i.price }} So'm</span>
                            </h4>
                        {% endif %}
                        <!-- Add more product details or buttons here -->
                    </div>
                </div>
            </div>
			{% endif%}
        {% endfor %}
    </div>
</div>
	<!--product-end-->

				
						
	
				

		{% endblock %}